.contain{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    
    /* padding: 20%; */
  }
.cardhead{
  display: inline-block;
  color: white;
  border-radius: 100px;
}
.box{
  width: 25%;
}
  .card{
    height: 30%;
    width: 15%;
    background-color: white;
    border-radius: 10%;
    border: 3px black solid;
  }
  .cardimg{
    width: 30%;
    height: 35%;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    padding: 1% 2%;
  }

  .cardtext{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }

 
  
  @media screen and (max-width: 768px) {
    .heading{
      font-size: medium;
    }
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    .box{
      width: 100%;
      margin-top: 8%;
    }
  }
  