.footertab {
    margin-bottom: 0%;
    width: 100%;
}
.copyright{
    margin-left: 0%;
}
.icon{
    width: 20%;
    height: 20%;
}


@media (max-width: 768px) {
    .footertab {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        /* align-items: center;
         */
         justify-content: space-between;
    }
    .copyright{
        align-items: center;
        /* margin-top: 10%;
         */
    }
    .icon{
        width: 2%;
        height: 2%;
    }
    .iconbox{
        margin-right: 1%;
        padding-right: 1%;
    }
    .res{
        font-size: 75%;
        /* margin-left: 9%; */
    }
    
}
