.Footer {
    margin-bottom: 0%;
}

/* Footerstyles.css */

@media (max-width: 768px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .Footer .my-2 {
        margin: 5px 0;
    }
    .Footer div {
        width: 100%;
        text-align: center;
    }
}
